
header p {
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: center;
}

body {
    font-family: sans-serif;
    background-image: url(../images/Saint_Peters.jpg);
    background-size: cover;
    margin: 10px;
}

main {
    margin: 15px 200px;
    padding: 20px;
    border: solid black;
    background: white;
    min-height: 500px;
}
.required {
    font-weight: bold;
    color: red;
}

label {
    float: left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

input[type="radio"] {width: 10px;}

input[type="checkbox"] {width: 15px;}

#button {
    margin-left: 138px;
}

#reset {
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}
